<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <style>
        header{
        background:yellowgreen;
    }
    section{
        background-color: yellow;
    }
    footer{
        background: gray;
    }
    </style>
</head>
<body>
    <header>
        <img src='https://placehold.it/280x80' alt="Company Logo" />
        <h1>Panthron Technologies</h1>
    </header>
    
    <section>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Justo nec ultrices dui sapien eget mi proin sed libero. Diam vulputate ut pharetra sit amet aliquam id. Facilisi morbi tempus iaculis urna id volutpat. Pulvinar proin gravida hendrerit lectus. Pellentesque dignissim enim sit amet venenatis. Viverra adipiscing at in tellus. Sit amet purus gravida quis blandit. Tortor condimentum lacinia quis vel eros donec ac odio tempor. Lorem donec massa sapien faucibus et molestie. Diam in arcu cursus euismod quis viverra nibh. Massa tempor nec feugiat nisl pretium fusce. Imperdiet nulla malesuada pellentesque elit. Mauris cursus mattis molestie a iaculis. Dis parturient montes nascetur ridiculus mus. In pellentesque massa placerat duis ultricies lacus. Iaculis eu non diam phasellus vestibulum lorem. Pharetra vel turpis nunc eget lorem.
		</p>

		<p>
			Nam aliquam sem et tortor consequat id. Accumsan lacus vel facilisis volutpat est. Justo eget magna fermentum iaculis eu non diam phasellus. Mus mauris vitae ultricies leo integer malesuada nunc vel. Viverra ipsum nunc aliquet bibendum enim facilisis gravida neque convallis. Et netus et malesuada fames ac turpis egestas. Pellentesque eu tincidunt tortor aliquam. Condimentum id venenatis a condimentum vitae sapien pellentesque habitant. Cursus mattis molestie a iaculis. Venenatis urna cursus eget nunc scelerisque viverra mauris in. Amet facilisis magna etiam tempor orci eu lobortis elementum. Elit duis tristique sollicitudin nibh sit amet commodo. Integer malesuada nunc vel risus commodo viverra maecenas.
		</p>
	</section>

	<footer>
        <h3>Contact :0305-6061532</h3>
        &copy; 2014. All Rights Reserved 
	</footer>
</body>
</html>